version: "3.9"
services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    environment:
      - LOG_LEVEL=DEBUG
    ports:
      - "8000:8000"
    volumes:
      - ../backend:/app
